PySide6
ac_client
aiohttp
ast
auto_completion
chromadb
colorama
python-dotenv
editor
eve_ide_app
eve_interface
file_explorer
Flask
getpass
highlighters
highlighting_registry
icon_provider
openai
project_wizard
pydantic
pytest
requests
search_panel
settings
shiboken6
shlex
smart_terminal_server
target_parser
terminal_widget
text
themes
themes_modern
types
